---
import Sidebar from "../components/Sidebar.astro";

const { ...data } = Astro.props;
// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// const currentPage = Astro.url.pathname;

const title = data.title ?? "Cookbook";

console.log(import.meta.env)
---

<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="flex min-h-screen overflow-y-scroll bg-indigo-50">
    <div class="container mx-auto flex flex-col">
      <header class="px-4 pt-6">
        <a href="/">
          <h1 class="text-2xl font-semibold">Astro Cooklang Cookbook</h1>
        </a>
      </header>

      <div class="mb-4 flex flex-grow flex-row flex-wrap">
        <section class="w-full sm:w-1/3 md:w-1/4">
          <div class="sticky top-0 w-full p-4 pt-6">
            <Sidebar />
          </div>
        </section>

        <!-- Main content -->
        <main
          role="main"
          class="mb-6 min-h-[calc(100vh-5rem)] w-full sm:w-2/3 md:w-3/4"
        >
          <div
            class="flex flex-col rounded-md border border-neutral-300 bg-neutral-50 shadow"
            style="contain: paint;"
          >
            <div class="sticky top-0 bg-inherit bg-neutral-100 shadow-sm">
              <slot name="heading" />
            </div>

            <div class="flex flex-grow flex-col">
              <slot />
            </div>
          </div>
        </main>

        <!-- Debug -->
        <div
          class="debug flex w-full flex-col divide-y divide-neutral-300 rounded-md border border-neutral-400 bg-neutral-200 shadow"
        >
          <h2 class="m-4 text-xl font-semibold">Debug</h2>

          <slot name="debug" />
        </div>
      </div>
    </div>
  </body>
</html>

<style is:global>
  .debug {
    display: none;
  }

  .debug .astro-debug {
    padding: 0;
  }

  .debug .astro-debug > * {
    border-radius: 0;
    margin: 0;
  }
</style>
