---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");

  return recipes.map((recipe) => {
    return {
      params: { recipe: recipe.slug },
      props: { recipe },
    };
  });
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();

const title = recipe.data?.metadata?.title || recipe.slug;

// You can access recipe data like this...
const { ingredients } = recipe.data;

const ingredientNames = ingredients.map((ingredient) => ingredient.name).sort();
---

<Layout title={title}>
  <h1 slot="heading" class="text-3xl font-semibold">{title}</h1>

  <!-- Main -->
  <div class="prose p-4">
    <h2>
      <code>&lt;Content /&gt;</code> component
    </h2>

    <hr />

    <Content />
  </div>

  <!-- Debug section -->
  <div slot="debug" class="p-4">
    <h3 class="mb-4 text-lg font-semibold">
      Ingredients (from collection entry data)
    </h3>

    <ul class="list-inside list-disc">
      {ingredientNames.map((name) => <li>{name}</li>)}
    </ul>
  </div>

  <div slot="debug" class="p-4">
    <h3 class="mb-4 text-lg font-semibold">Source (from collection entry)</h3>

    <div class="whitespace-pre-wrap font-mono text-xs">{recipe.body}</div>
  </div>
</Layout>
