---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const recipeEntries = await getCollection("recipes");

  return recipeEntries.map((entry) => {
    return {
      params: { recipe: entry.slug },
      props: { entry },
    };
  });
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const title = entry.data?.metadata?.title || entry.slug;

// You can access recipe data like this...
const { ingredients } = entry.data;

const ingredientNames = ingredients.map((ingredient) => ingredient.name).sort();
---

<Layout title={title}>
  <h1 slot="heading" class="text-3xl font-semibold">{title}</h1>

  <!-- Main -->
  <div class="prose w-full p-4">
    <Content />

    <p>Rendered with <code>&lt;Content /&gt;</code> component.</p>
  </div>

  <!-- Debug section -->
  <div slot="debug" class="p-4">
    <h3 class="mb-4 text-lg font-semibold">
      Ingredients (from collection entry data)
    </h3>

    <ul class="list-inside list-disc">
      {ingredientNames.map((name) => <li>{name}</li>)}
    </ul>
  </div>

  <div slot="debug" class="p-4">
    <h3 class="mb-4 text-lg font-semibold">Source (from collection entry)</h3>

    <div class="whitespace-pre-wrap font-mono text-xs">{entry.body}</div>
  </div>
</Layout>
