---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const recipes = await getCollection("recipes");

  return recipes.map((recipe) => {
    return {
      params: { recipe: recipe.slug },
      props: { recipe },
    };
  });
}

const { recipe } = Astro.props;
const { Content } = await recipe.render();

const title = recipe.data?.metadata?.title || recipe.slug;

// You can access recipe data like this...
const { ingredients } = recipe.data;

const ingredientNames = ingredients.map((ingredient) => ingredient.name).sort();
---

<Layout title={title}>
  <div class="sticky top-0 bg-gray-100 bg-inherit p-4 shadow">
    <h1 class="text-3xl font-semibold">{title}</h1>
  </div>

  <div class="prose p-4">
    <ul>
      {ingredientNames.map((name) => <li>{name}</li>)}
    </ul>

    <Content />
  </div>

  <div class="whitespace-pre-wrap bg-gray-200 p-4 font-mono text-xs">
    {JSON.stringify({ recipe }, null, 4)}
  </div>
</Layout>
