---
import { Debug } from "astro/components";
import { getCollection } from "astro:content";
import * as readme from "../../../README.md";
import Banner from "../../../banner.svg";
import Layout from "../layouts/Layout.astro";

const recipes = await getCollection("recipes");
const categories = [...new Set(recipes.map((entry) => entry.data?.category))];

const tags = [...new Set(recipes.flatMap((entry) => entry.data?.tags))];

const projectUrl = "https://github.com/kauhat/astro-cooklang-integration";
---

<Layout>
  <!-- <div slot="heading" class="p-4">
    <h1 class="text-3xl font-semibold">Astro Cooklang Cookbook</h1>
  </div> -->

  <img src={Banner} alt="Astro Cooklang Banner" />

  <div class="prose p-4">
    This is a demo site for the
    <a href={`${Astro.site}/${projectUrl}`} target="_blank">Astro Cooklang integration</a>.
  </div>

  <div slot="debug">
    <Debug {{categories, tags}} />
  </div>
</Layout>
