---
import { getCollection } from "astro:content";
import Banner from "../components/Banner.svg";
import Layout from "../layouts/Layout.astro";

const recipes = await getCollection("recipes");
const categories = [...new Set(recipes.map((entry) => entry.data?.category))];

const tags = [...new Set(recipes.flatMap((entry) => entry.data?.tags))];
---

<Layout>
  <h1 slot="heading" class="text-3xl font-semibold">Cookbook</h1>

  <Banner />

  <div slot="debug" class="p-4">
    <h3 class="mb-4 text-lg font-semibold">Categories & Tags</h3>

    <div class="whitespace-pre-wrap font-mono text-xs">
      {JSON.stringify({ categories, tags }, null, 2)}
    </div>
  </div>
</Layout>
