---
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<nav>
  <h1 class="mb-4 text-lg font-semibold">Recipes</h1>

  <ul class="flex flex-col overflow-hidden">
    {
      recipes.map((recipe) => (
        <li>
          <a href={recipe.slug} class="text-blue-500">
            {recipe.data.title || recipe.slug}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
